
body, h1, p, a, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: url('image3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background: url('image5.avif') no-repeat;
    background-size: cover;
    background-position: center;
    color: #333;
    padding: 20px;
}


.contact-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
    font-size: 2em;
    color: #2209b1;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 1em;
    color: #555;
    margin-bottom: 20px;
}


.contact-details {
    margin-bottom: 20px;
    text-align: left;
    font-size: 1em;
}

.contact-details a {
    color: #02c125;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}


.contact-form {
    text-align: left;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus, textarea:focus {
    border-color: #e63946;
    outline: none;
}


.contact-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 25px;
    background-color: #064bd4;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #cba6a9;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

nav a:hover {
    background-color: #575757;
}
